---
import '../styles/global.css'

const pageTitle = 'Home Page'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<nav class="text-blue-600 py-2 container mx-auto">
			<a class="hover:text-blue-500 hover:underline" href="/">Home</a>
			<a class="hover:text-blue-500 hover:underline" href="/about/">About</a>
			<a class="hover:text-blue-500 hover:underline" href="/blog/">Blog</a>
		</nav>

		<div class="container mx-auto">
			<h1 class="font-bold text-4xl">{pageTitle}</h1>
		</div>
	</body>
</html>
