---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro'
---

<header>
    <nav class="w-full bg-gray-800 py-8">
        <Hamburger />
        <Navigation />
    </nav>
</header>
