---
---

<div class="lg:container px-8 lg:px-0 mt-8 lg:mt-0 mx-auto text-blue-200 gap-8 hidden lg:flex" id="nav">
    <a class="hover:text-blue-100" href="/">Home</a>
    <a class="hover:text-blue-100" href="/about/">About</a>
    <a class="hover:text-blue-100" href="/blog/">Blog</a>
</div>
